# Week 2 Lab session
## Basic Python
 - Basic operation 
 - Basic containers
 - list comprehension
 - for loop
 - function

In [1]:
1+2

3

In [2]:
2*3

6

In [3]:
3/4

0.75

In [4]:
2*3 - 3/4

5.25

### shift operator: << shift to the left; >> shift to the right
### In binary representation, 2 can be written as 00010. 2<<3 means shifting all numbers to left by 3

In [5]:
2 << 3

16

In [6]:
# 3 = 00011, 3<<3 = 11000 = 16+8 = 24
# Or you can think of it as 3* 2^3 = 3 * 8 = 24

3 << 3

24

In [7]:
128 >> 3

16

In [8]:
14%3

2

In [9]:
1 == 0

False

In [10]:
3 == 3

True

### Basic containers:
 - List []
 - tuple ()
 - dictionary {}
 - set

In [11]:
lista = ['a', 'b', 'c']

In [12]:
lista[0]

'a'

In [13]:
len(lista)

3

In [14]:
lista[0] = 'x'

In [15]:
lista

['x', 'b', 'c']

In [16]:
lista.append('y')

In [17]:
lista

['x', 'b', 'c', 'y']

In [18]:
listb = [1, 2, 3]

lista + listb

['x', 'b', 'c', 'y', 1, 2, 3]

In [19]:
# tuple

tuplea = ('a','b','c')

In [20]:
tuplea[0]

'a'

In [21]:
len(tuplea)

3

### Important: the content of a tuple CAN NOT be changed.

In [22]:
tuplea[0] = 'x'

TypeError: 'tuple' object does not support item assignment

In [23]:
# Dictionary

dicta = {'John':0, 'Mary':100, 'Joe':50}

In [24]:
dicta['John']

0

In [25]:
dicta['Mary']

100

In [26]:
dicta['Bill'] = 74

In [27]:
dicta

{'John': 0, 'Mary': 100, 'Joe': 50, 'Bill': 74}

In [28]:
dicta.keys()

dict_keys(['John', 'Mary', 'Joe', 'Bill'])

In [29]:
dicta.values()

dict_values([0, 100, 50, 74])

In [30]:
# set

seta = {'a','b','c'}

In [31]:
seta

{'a', 'b', 'c'}

In [32]:
seta.add('d')

seta

{'a', 'b', 'c', 'd'}

In [33]:
seta.add('b')

seta

{'a', 'b', 'c', 'd'}

## List comprehension

In [34]:
simple_nums_list = range(10)

In [35]:
simple_nums_list

range(0, 10)

In [36]:
simple_nums_list[3]

3

### Now I want to creat a list of square number

In [37]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [38]:
# another example

h_letters = [ letter for letter in 'human' ]
print( h_letters)

['h', 'u', 'm', 'a', 'n']

### create list with condition

In [39]:
[x**2 for x in range(10) if x%2 == 0]

[0, 4, 16, 36, 64]

In [40]:
[x**2 for x in range(10) if x%2 == 1]

[1, 9, 25, 49, 81]

In [41]:
h_letters = [ letter for letter in 'human' if letter not in 'and']
print( h_letters)

['h', 'u', 'm']

In [42]:
# More complicated

obj = ["Even" if i%2==0 else "Odd" for i in range(10)]
print(obj)

['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

## For loop and if-else condition

In [43]:
# let us print the number in [1,2,3,4,5,6,7,8,9,10]

for i in range(11):
    if i > 0:
        print(i)

1
2
3
4
5
6
7
8
9
10

In [44]:
for i in range(11):
    if i%2 == 0:
        print(i, 'is an even number')
    else:
        print(i, 'is an odd number')

0 is an even number
1 is an odd number
2 is an even number
3 is an odd number
4 is an even number
5 is an odd number
6 is an even number
7 is an odd number
8 is an even number
9 is an odd number
10 is an even number

## zip and enumerate

In [45]:
a = ("John", "Charles", "Mike")
b = ("Jenny", "Christy", "Monica")

x = zip(a,b)

In [46]:
for item in x:
    print(item)

('John', 'Jenny')
('Charles', 'Christy')
('Mike', 'Monica')

In [47]:
a = [1,2,3]
b = ['a','b','c']
x = zip(a,b)

for item in x:
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [48]:
for count, item in enumerate(b):
    print(count,item)

0 a
1 b
2 c

In [49]:
for count, item in enumerate(b, start=10):
    print(count,item)

10 a
11 b
12 c

## Function

In [50]:
def add_function(x,y):
    return x+y

In [51]:
print(add_function(100,12))

112

In [52]:
def factorial_function(n):
    if n == 0:
        return 1
    else:
        return n * factorial_function(n-1)

In [53]:
print(factorial_function(6))

720

### function of function

In [54]:
def my_decorator(func):
    def wrapper():
        print("Something is happening before the function is called.")
        func()
        print("Something is happening after the function is called.")
    return wrapper

def say_whee():
    print("Whee!")

In [55]:
my_fun = my_decorator(say_whee)

### my_fun is an address to the function

In [56]:
my_fun

### my_fun() with parenthesis will execute the function

In [57]:
my_fun()

Something is happening before the function is called.
Whee!
Something is happening after the function is called.

### We can also use the concept of decorator to do the job

In [58]:
@my_decorator
def say_hello():
    print("Hello!")

In [59]:
say_hello()

Something is happening before the function is called.
Hello!
Something is happening after the function is called.

In [60]:
1+2*3-4

3

In [61]:
6 << 2

24